# Created by Constraints Editor (xc9572xl-vq64-10) - 2019/09/20
# Updated for QPI support (xc95144xl-tq100) - 2022/04/04

NET "LPC_CLK" TNM_NET = LPC_CLK;
TIMESPEC TS_LPC_CLK = PERIOD "LPC_CLK" 33 Mhz HIGH 50%;

# BANK[3:0]
# Bank 1 is default on power-up.
NET REG_00EF_WRITE(0) INIT=S;

NET "QPI_IO<0>" LOC = "P1";
NET "QPI_IO<1>" LOC = "P2";
NET "QPI_IO<2>" LOC = "P3";
NET "QPI_IO<3>" LOC = "P4";
NET "QPI_CS<0>" LOC = "P6"; # U2
NET "QPI_CS<1>" LOC = "P7"; # U3
NET "QPI_CS<2>" LOC = "P8"; # U4
NET "LPC_CLK" LOC = "P27" | BUFG = CLK;
NET "LPC_RST" LOC = "P29";
#NET "LPC_LFRAME" LOC = "P30";
NET "LPC_LAD<0>" LOC = "P32";
NET "LPC_LAD<1>" LOC = "P34";
NET "LPC_LAD<2>" LOC = "P35";
NET "LPC_LAD<3>" LOC = "P33";
NET "HEADER_MISO1" LOC = "P41";
NET "HEADER_MISO2" LOC = "P36";
NET "HEADER_CS" LOC = "P28";
NET "HEADER_SCK" LOC = "P39";
NET "HEADER_MOSI" LOC = "P40";
NET "MOSFET_LED_R" LOC = "P25"; # Q1
NET "MOSFET_LED_G" LOC = "P24"; # Q2
NET "MOSFET_LED_B" LOC = "P23"; # Q3
NET "MOSFET_D0" LOC = "P37"; # Q4
NET "MOSFET_A20M" LOC = "P42"; # Q5
NET "SWITCH_RECOVER" LOC = "P22" | BUFG = DATA_GATE;
